.env
venv/
**/__pycache__/
.pytest_cache/
/Tests
/my_tests
/old_codes
/dist
/codes
/build
/SimplerLLM.egg-info
.pypirc 
test_1.py
test_2.py
/mydb
vector_functions.py
update_simplervectors.py
/data
embeddings.py
#test_rag.py
chunker.py
doc.txt
/VDB